div{
    margin-left:auto;
    margin-right:auto;
    border:2px dotted black;
    border-color:red;
    width:400px;
    height:400px;
}
li a{

    font-size:30px;
    text-decoration:none;
    color:yellow;
  
}

p a{
    color:red;
    font-size:16px;
    text-align:center;
    
}

a:hover{
    text-decoration:underline;
    background-color:#f40;
    color:#fff;
    font-size:40px;
    font-family:arial;
    border-radius:15px;
    
    }

h1{
    text-align:center;
}
