div{
    margin-left:auto;
    margin-right:auto;
    border:2px dotted black;
    border-color:red;
    width:400px;
    height:300px;
}
a {

    font-size:30px;
    
  
}

h1{
    text-align:center;
}
